header.header
    .header__colunm
        a(href=routes.home) 
            i.fab.fa-youtube
    .header__colunm    
        ul 
            li
                a(href=routes.join) Join
            li
                a(href=routes.login) Login