.social-login
    button.social--github
        span
            i.fab.fa-github   Continue with Github
    button.social--facebook
        span
            i.fab.fa-facebook-square   Continue with FaceBook