doctype html
html
    head
        title #{siteName}
        <script src="https://kit.fontawesome.com/513cbd8bd8.js" crossorigin="anonymous"></script>
    body
        include ../partials/header
        main
            block contents
        include ../partials/footer