extends layouts/main
include ./mixins/videoBlock
block contents  
    .home-videos
        each v in videos 
            +videoBlock(v) 
            //- 전체를 보내거나 아래와 같이 원하는 정보를 보낼 수 있다
            //- +videoBlock({
            //-     title: v.title,
            //-     description: v.description
            //- })
            +videoBlock(v)
            +videoBlock(v)
            +videoBlock(v)
            +videoBlock(v)
