extends layouts/main

block contents  
    .form-container 
        form(action=routes.join, method="post")
            input(type="email", name="email", placeholder="email")
            input(type="password", name="password", placeholder="Password")
            input(type="password", name="password2", placeholder="RE:Password")      
            input(type="text", name="name", placeholder="Your name")
            input(type="submit", value="Join Now")      
        include ./partials/socialLogin